/*
  PLAIN NOTEPAD
 
  STRUCTURE (rough, will relocate to README):
    Group and sort rules alphabetically by:
    * 'START/END'-section: '[yes or no]'
    + (top) size-wide [yes]:
      - '<body>', container...
    + (groups) sections|div|multi-entry [yes]:
      - '<article>', '<nav>, '<h[0-6]>'...
    + (middle)inline|text|single section [no]:
      - '<p>', '<em>', '.page'...
    + (bottom) media queries [no]:
      - '@media'
    * Basically: group similar things, then sort.
  
  Comments:
    a) Indentation: 2 spaces, 1 space/newline elsewhere.
    b) Double newline after/before 'START/END'-section.
    c) Braces: open: 'entry {', close: newline and '}'
    d) '@media': no spaces, indent nested rules
    e) Ignore leading period.
*/

/* START: 'site-wide' */
*{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

body {
  color: #DDDDDD;
  background: #080808;	
  font-family: "DejaVu", monospace, Courier;
  line-height: 1.5rem;
  padding-top: 20px;
}

.container {
  margin: auto;
  padding: 1rem 0;
  width: 80%;
  word-break: break-word;
}
/* END: 'site-wide' */


a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #D60000;
  text-decoration: underline;
  transition: color .8s;
}


/* START: 'article' */
article {
  border-left: 1px solid;
  border-right: 1px solid;
  border-radius: 25px;
  margin: inherit;
  min-width: 800px;
  padding: 1rem 1.5rem;
  width: 55%;
}

article a {
  color: grey;
  text-decoration: underline;
}
/* END: 'article' */


/* START: 'article-list' */
.articles {
  margin: auto;
  max-width: 1000px;
  width: 40rem;
}

.articles h3 {
  border-left: 4px solid;
  border-top-left-radius: 5px;
  font-size: 1.1rem;
  font-weight: normal;
  margin: 0;
  padding: 0.5rem 0 0 0.5rem;
}

.articles p {
  border-left: 4px solid;
  border-bottom-left-radius: 5px;
  color: #DDDDDD;
  padding: 0.5rem 0 0.5rem 1.25rem;
}

.articles time {
  border-bottom: 2px solid;
  font-size: 0.85rem;
  margin-left: 0.75rem;
}

.articles ul {
  margin: 0.5rem auto;
  padding: 0.5rem;
}
/* END: 'article-list' */


b {
  border-bottom: solid 1px grey;
  font-weight: normal;
}

blockquote {
  border-left: solid 3px #DDDDDD;
  font-style: italic;
  margin: 0.5rem 0;
  padding: 0 1rem;
}


/* START: 'footer' */
footer {
  font-size: 80%;
  margin: 0.5rem auto 1rem;
  text-align: center;
}

footer p {
  font-size: 0.8rem;
}

footer a {
  font-size: initial;
}
/* END: 'footer' */


/* START: 'header'/'headings' */
h1, h2, h3, h4, h5, h6 {
  margin: 0.2rem 0;
  text-transform: capitalize;
}

h1, header.index h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.55em;
}

header.index h2 {
  font-weight: normal;
  margin-top: 0.5rem;
  text-decoration: overline;
}

h3 {
  font-size: 1.4em;
}

header {
  margin-top: 0.3rem;
  text-align: center;
  padding: 1rem;
}
/* END: 'header'/'headings' */


li {
  margin: 0 1rem;
}

ol {
  margin: 0 1rem;
}


/* START: 'navigation' */
nav {
  border-bottom: solid 1px;
  font-size: initial;
  margin: auto;
  max-width: 28rem;
  text-align: center;
}

nav.cat {
  border: none;
  font-size: 80%;
}

nav.bott {
  border-bottom: none;
  border-top: 1px solid;
  margin-top: 1.5rem;
}

/* Bottom 'nav' separator. FIX: better solution */
nav.bott b {
  border: none;
  font-weight: normal;
}
/* END: 'navigation' */


/* 'pages'-specific */
.page article {
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-left: none;
  border-right: none;
  margin: auto;
  width: 65%;
}

p {
  color: white;
  margin-bottom: 1rem;
  padding-top: 0.2rem;
}


/* Some (barely) responsive design. */
@media screen and (width < 1300px) {
  article {
    min-width: 90%;
  }
}
@media screen and (width < 900px) {
  .container {
    width:100%
  }
  article, .page article {
    width: 95%;
  }
}
@media screen and (width < 650px) {
  .articles {
    width: 95%;
  }
  .articles ul {
    width: 100%;
  }
  header.index h1 {
    font-size: 1.7em;
  }
  header.index h2 {
    font-size: 1.4em;
    margin-top: 0.3rem;
  }
  nav {
    max-width: 85%;
  }
}
@media screen and (width < 430px) {
  article, .articles {
    font-size: 0.95em;
    border: none;
    padding: 0 0.75rem;
    width: 100%;
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 0.5rem 0;
  }
  header.index h1 {
    font-size: 1.5em;
  }
  header.index h2 {
    font-size: 1.3em;
  }
  li {
    margin: 0 0 0 0.75rem;
  }
  ul {
    margin: 0 0 0 0.25rem;
  }
  nav {
    font-size: 0.9em;
    max-width: 90%;
  }
  p {
      margin: 0.5rem 0;
      padding: 0;
  }
}
