<!DOCTYPE html>
<html>
<head>
  {% block head %}
  <meta charset="utf-8">
  {% if FAVICON != False %}
  <link rel="shortcut icon" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/{{ FAVICON }}">
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/
  {{- CSS_FILE }}" type="text/css">
  <meta name="author" content="{{ AUTHOR }}">
  {% if article %}
  <meta name="description" content="
  {#- Try to use the summary and make it look okay(ish), this is ugly and will
      most likely be replaced in the future.
  -#}
  {%- filter truncate(150)
      |replace('\n', '')
      |replace('  ', ' ')|replace('  ', ' ')
      |trim|e -%}
    {%- include "summary.html" -%}
  {%- endfilter -%}
  ">
  {% else %}
  <meta name="description" content="{{ SITESUBTITLE  }}">
  {% endif %}
  {% block image %}{% endblock %}
  <title>{% block title %}{% endblock %}</title>
  {% endblock %}
</head>
<body>
  <div class="container">
    {% block content %}
      {% if page_name == "index" %}
      {% block nav %}{% endblock %}
      {% endif %}
    {% endblock %}
  </div>
  {% if article or page %}
  <footer>
    <a href="{{ SITEURL }}/">~/index</a>
  </footer>
  {% endif %}
</body>
</html>

