{# As the filename hints at this filters stuff. Mainly
   used in 'article.html', 'page.html', 'summary.html'
   to make some substitutions and for formatting.
#}
{% filter replace("µµ", "&emsp;&emsp;")
          |replace("µ#", "<sup>[")
          |replace("#µ", "]</sup>")
%}
  {% if TEXT_TYPE == page or TEXT_TYPE == article %}
  {% for line in TEXT_TYPE.content.splitlines() %}
    {% if "</a>" in line or "href=" in line or "<a " in line %}
      {{- line.lstrip() }}
    {% else %}
    {{- line }}
    {% endif %}
  {% endfor %}
  {% elif TEXT_TYPE == SUMMARY %}
    {{ TEXT_TYPE }}
  {% endif %}
{% endfilter %}
